.description {
    margin: 1em auto;
    padding: 1em;
    color: #7a99a5;
}

.dijitComboBoxMenuPopup {
    font-size: 0.8em !important;
}

.dijitMenuPopup {
    min-width: 150px;
}

.dijitMenuPopup .dijitMenuItemLabel {
    width: 150px !important;
}

.dijitMenuItemSelected {
  background-color: none !important;
}

td {
  line-height: 10px !important;
}

.lgnd-icon {
  margin-top: -5px;
}

